<div id="container">

	<div id="header">
		JUSTIN's GAME NAME
	</div>


	<div id="main">
		
		<div id="embedded_container" style="width: 100%;height: 100%;">

			<div id="embedded_menu" style="height: 100%; width: 100%; padding: 8px 16px 8px 16px;">
				
				<span style="font-size: 1.3em;">This is the first template for your game. There is not much here yet, and eveything that is here will likely be replaced soon to forever be forgotten. More so a temporary template</span>
				</br>
				</br>
				</br>

				<%= link_to(stage_path, {:style => "width: 100px; height: 3em;", :class => "jobheader_wrap"} ) do %>
					<div style="width: 40%; margin-left: 30%; height: 40px; text-align: center; padding-top: 1em; background-color: white;">
						Start Game
					</div>
				<% end %>

				</br>

				<%= link_to(teststage_path, {:style => "width: 100px; height: 3em;", :class => "jobheader_wrap"} ) do %>
					<div style="width: 40%; margin-left: 30%; height: 40px; text-align: center; padding-top: 1em; background-color: white;">
						Test Stage
					</div>
				<% end %>

				</br>

				<%= link_to(stages_one_path, {:style => "width: 100px; height: 3em;", :class => "jobheader_wrap"} ) do %>
					<div style="width: 40%; margin-left: 30%; height: 40px; text-align: center; padding-top: 1em; background-color: white;">
						Stage #1
					</div>
				<% end %>

				</br>

				<%= link_to(stages_two_path, {:style => "width: 100px; height: 3em;", :class => "jobheader_wrap"} ) do %>
					<div style="width: 40%; margin-left: 30%; height: 40px; text-align: center; padding-top: 1em; background-color: white;">
						Stage #2
					</div>
				<% end %>


				
			</div>

			
		</div>



	</div>

	<div id="footer" style="text-align: center;padding-top: 15px;">
		Version # | Bitbucket | Heroku | Google | Terms | Privacy
	</div>


</div>



<style>




	html { 

		background-image:
        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), 
        url('https://media.giphy.com/media/3oFzmdMmI6iW7JN1p6/giphy-downsized-large.gif');


        font-family: 'Russo One', sans-serif;

	  	background-size: cover;
	}

	body {
	    height: 100vh;
	    width: 100vw;
 		margin: 0px 0px 0px 0px;
 	    color: white;
	}





	#container {

		display: grid;
		width: 100%;
		height: 100%;
		grid-template-columns: 20% 20% 20% 20% 20%;
		grid-template-rows: 14% 81% 5%;

	}

	#header {

		margin-top: 4vh;
		margin-left: 8%; 
		grid-column-start: 1;
		grid-column-end: 6;
		grid-row-start: 1;
		grid-row-end: 2;

		color: DarkKhaki;

		font-size: 3em;

	}

	#main {
		grid-column-start: 1;
		grid-column-end: 6;
		grid-row-start: 2;
		grid-row-end: 3;

		color: black;
	}

	#footer {

		grid-column-start: 1;
		grid-column-end: 6;
		grid-row-start: 3;
		grid-row-end: 4;

		background-color: rgba(255,255,255,0.6);

		color: black;

	}

	#embedded_container {
		display: grid;
		grid-template-columns: 30% 40% 30%;
		grid-template-rows: 20% 60% 20%;
	}

	#embedded_menu {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		background-color: rgba(189,183,107,0.8);
	}
	









</style>