<div id="arena">

	<div id="box" style="position: absolute; top: 10px; left: 10px; height: 50px; width: 50px; background-color: red;"></div>

	<div id="contenDisplay" style="position: absolute; height: 12vh; width: 16vw; top: 87vh; left: 83vw; background-color: rgba(0,0,0,0.8); color: white;">
		<div style="width:100%; height: 100%; position: relative; padding-left: 10px; padding-top: 10px;">
		
			<span id="fps_display">
				sspan
			</span>
			</br></br>
			Pressed: <span id="button_display">
				span
			</span>


		</div>


	</div>

</div>


<style>

	* {
		box-sizing: border-box;
	}
	

	body {
		box-sizing: border-box;
	    height: 100vh;
	    width: 100vw;
 		margin: 0px 0px 0px 0px;
 	    color: black;
	}

	#arena {
		width: 100%;
		height: 100%;
	}

	#box {
	    background-color: red;
	    height: 50px;
	    left: 150px;
	    position: absolute;
	    top: 10px;
	    width: 50px;
	}


</style>


<script>







	document.addEventListener('keydown', function(ev) { return onkey(ev, ev.keyCode, true);  }, false, { once: true });
	document.addEventListener('keyup',   function(ev) { return onkey(ev, ev.keyCode, false); }, false, { once: true });


	var right_keydown = false;
	var left_keydown = false;
	var up_keydown = false; 
	var down_keydown = false; 
	var space_keydown = false; 
	var d_keydown = false;
	var a_keydown = false;
	var w_keydown = false; 
	var s_keydown = false; 

	var prev_right_keydown = false;
	var prev_left_keydown = false;
	var prev_up_keydown = false; 
	var prev_down_keydown = false; 
	var prev_space_keydown = false; 
	var prev_d_keydown = false;
	var prev_a_keydown = false;
	var prev_w_keydown = false; 
	var prev_s_keydown = false; 

	var keypress_summary = '';

	var KEY = {

	    BACKSPACE: 8,
	    TAB:       9,
	    RETURN:   13,
	    ESC:      27,
	    SPACE:    32,
	    PAGEUP:   33,
	    PAGEDOWN: 34,
	    END:      35,
	    HOME:     36,
	    LEFT:     37,
	    UP:       38,
	    RIGHT:    39,
	    DOWN:     40,
	    INSERT:   45,
	    DELETE:   46,
	    ZERO:     48, ONE: 49, TWO: 50, THREE: 51, FOUR: 52, FIVE: 53, SIX: 54, SEVEN: 55, EIGHT: 56, NINE: 57,
	    A:        65, B: 66, C: 67, D: 68, E: 69, F: 70, G: 71, H: 72, I: 73, J: 74, K: 75, L: 76, M: 77, N: 78, O: 79, P: 80, Q: 81, R: 82, S: 83, T: 84, U: 85, V: 86, W: 87, X: 88, Y: 89, Z: 90,
	    TILDA:    192
	
	};


	function onkey(ev, key, pressed) {




  	  console.log('KEYPRESS LOG: ' + String(key));



	  switch(key) {




	  	case KEY.W:  
	    	if(pressed && w_keydown) {
	    		w_keydown = true;
	    		prev_w_keydown = true;
	    	} else if (pressed) {
	    		w_keydown = true;
				prev_w_keydown = false;	    	
			} else {
				w_keydown = false;
				prev_w_keydown = false;
			};
	    	ev.preventDefault();
	    break;

	    case KEY.S:
	    	if(pressed && s_keydown) {
	    		s_keydown = true;
	    		prev_s_keydown = true;
	    	} else if (pressed) {
	    		s_keydown = true;
	    		prev_s_keydown = false;
	    	} else {
	    		s_keydown = false;
	    		prev_s_keydown = false;
	    	};
	    	ev.preventDefault();
	    break;

	    case KEY.A:  
	    	if(pressed && a_keydown) {
	    		a_keydown = true;
	    		prev_a_keydown = true;
	    	} else if (pressed) {
	    		a_keydown = true;
				prev_a_keydown = false;	    	
			} else {
				a_keydown = false;
				prev_a_keydown = false;
			};
	    	ev.preventDefault();
	    break;

	    case KEY.D:
	    	if(pressed && d_keydown) {
	    		d_keydown = true;
	    		prev_d_keydown = true;
	    	} else if (pressed) {
	    		d_keydown = true;
	    		prev_d_keydown = false;
	    	} else {
	    		d_keydown = false;
	    		prev_d_keydown = false;
	    	};
	    	ev.preventDefault();
	    break;

	    case KEY.UP:  
	    	if(pressed && up_keydown) {
	    		up_keydown = true;
	    		prev_up_keydown = true;
	    	} else if (pressed) {
	    		up_keydown = true;
				prev_up_keydown = false;	    	
			} else {
				up_keydown = false;
				prev_up_keydown = false;
			};
	    	ev.preventDefault();
	    break;

	    case KEY.DOWN:
	    	if(pressed && down_keydown) {
	    		down_keydown = true;
	    		prev_down_keydown = true;
	    	} else if (pressed) {
	    		down_keydown = true;
	    		prev_down_keydown = false;
	    	} else {
	    		down_keydown = false;
	    		prev_down_keydown = false;
	    	};
	    	ev.preventDefault();
	    break;

	    case KEY.LEFT:  
	    	if(pressed && left_keydown) {
	    		left_keydown = true;
	    		prev_left_keydown = true;
	    	} else if (pressed) {
	    		left_keydown = true;
				prev_left_keydown = false;	    	
			} else {
				left_keydown = false;
				prev_left_keydown = false;
			};
	    	ev.preventDefault();
	    break;

	    case KEY.RIGHT:
	    	if(pressed && right_keydown) {
	    		right_keydown = true;
	    		prev_right_keydown = true;
	    	} else if (pressed) {
	    		right_keydown = true;
	    		prev_right_keydown = false;
	    	} else {
	    		right_keydown = false;
	    		prev_right_keydown = false;
	    	};
	    	ev.preventDefault();
	    break;

	    case KEY.SPACE: 
	    	if (pressed && space_keydown) {
	    		space_keydown = true;
	    		prev_space_keydown = true;
	    	} else if (pressed) {
	    		space_keydown = true;
	    		prev_space_keydown = false;
	    	} else {
	    		space_keydown = false;
	    		prev_space_keydown = false;
	    	};
	    	ev.preventDefault();
	    break;

	  };
	};



	
	var box = document.getElementById('box'),
        contenDisplay = document.getElementById('contenDisplay'),
        fpsDisplay = document.getElementById('fps_display'),
        buttonDisplay = document.getElementById('button_display'),

    box_X_Pos = 10,
    box_X_LastPos = 10,
    box_Y_Pos = 10,
    box_Y_LastPos = 10,

    boxVelocity = 0.15,

    upVector = 0,
    leftVector = 0,
    downVector = 0,
    rightVector = 0,

    window_X_limit = (window.innerWidth - 50); //Right Edge of Arena
    window_Y_limit = (window.innerHeight - 50); //Bottom Edge of Arena

    lastFrameTimeMs = 0,
    maxFPS = 60,
    timestep = 1000 / 60,
    fps = 60,
    framesThisSecond = 0,
    lastFpsUpdate = 0,    

    delta = 0,

    running = false,
    started = false,
    frameID = 0;






	function update(delta) {




	    if (space_keydown && !prev_space_keydown) {
	    	prev_space_keydown = true;
	    	boxVelocity = -boxVelocity;
	    };


	   	box_X_LastPos = box_X_Pos;
	   	if (d_keydown) {

	   		box_X_Pos += boxVelocity * delta;

	   	} else if (a_keydown) {

	   		box_X_Pos -= boxVelocity * delta;
	   	};
	    

	   	box_Y_LastPos = box_Y_Pos;
	  	if (s_keydown) {

	   		box_Y_Pos += boxVelocity * delta;

	   	} else if (w_keydown) {

	   		box_Y_Pos -= boxVelocity * delta;
	   	};








	    if (up_keydown) {
	    	if (boxVelocity > 0) {
	    		boxVelocity += 0.002;
	    	} else if (boxVelocity < 0) {
	    		boxVelocity += -0.002;
	    	} else {
	    		//Nothing Here
	    	};
	    }; 

	    if (down_keydown) {
	    	if (boxVelocity > 0) {
	    		boxVelocity += -0.002;
	    	} else if (boxVelocity < 0) {
	    		boxVelocity += 0.002;
	    	} else {
	    		//Nothing Here
	    	};
	    };

	    // Switch directions if we go too far to the right or left
	    if (box_X_Pos >= window_X_limit || box_X_Pos <= 0) boxVelocity = -boxVelocity;


	    // Switch directions if we go too far to far up or down
	    if (box_Y_Pos >= window_Y_limit || box_Y_Pos <= 0) boxVelocity = -boxVelocity;


	}

	function draw(interp) {

	    box.style.left = (box_X_LastPos + (box_X_Pos - box_X_LastPos) * interp) + 'px';
	    box.style.top = (box_Y_LastPos + (box_Y_Pos - box_Y_LastPos) * interp) + 'px';



	    fpsDisplay.textContent = Math.round(fps) + ' FPS';


	    keypress_summary = '';
	    
	    if (right_keydown) {
	    	keypress_summary += "{#RIGHT}";
	    };

	    if (left_keydown) {
	    	keypress_summary += "{#LEFT}";
	    };

	    if (up_keydown) {
	    	keypress_summary += "{#UP}";
	    };

	    if (down_keydown) {
	    	keypress_summary += "{#DOWN}";
	    };

	    if (space_keydown) {
	    	keypress_summary += "{#SPACE}";
	    };
	    
	    if (d_keydown) {
	    	keypress_summary += "{ D }";
	    };

	    if (a_keydown) {
	    	keypress_summary += "{ A }";
	    };

	    if (w_keydown) {
	    	keypress_summary += "{ W }";
	    };

	    if (s_keydown) {
	    	keypress_summary += "{ S }";
	    };


	    buttonDisplay.textContent = String(keypress_summary);


	    if (space_keydown) {
	    	fpsDisplay.textContent = 'space';
	    };

	}

















	function panic() {
	    delta = 0;
	}

	function begin() {
	}

	function end(fps) {
	    if (fps < 25) {
	        box.style.backgroundColor = 'black';
	    }
	    else if (fps > 30) {
	        box.style.backgroundColor = 'red';
	    }
	}

	function stop() {
	    running = false;
	    started = false;
	    cancelAnimationFrame(frameID);
	}

	function start() {
	    if (!started) {
	        started = true;
	        frameID = requestAnimationFrame(function(timestamp) {
	            draw(1);
	            running = true;
	            lastFrameTimeMs = timestamp;
	            lastFpsUpdate = timestamp;
	            framesThisSecond = 0;
	            frameID = requestAnimationFrame(mainLoop);
	        });
	    }
	}

	function mainLoop(timestamp) {
	    // Throttle the frame rate.    
	    if (timestamp < lastFrameTimeMs + (1000 / maxFPS)) {
	        frameID = requestAnimationFrame(mainLoop);
	        return;
	    }
	    delta += timestamp - lastFrameTimeMs;
	    lastFrameTimeMs = timestamp;

	    begin(timestamp, delta);

	    if (timestamp > lastFpsUpdate + 1000) {
	        fps = 0.25 * framesThisSecond + 0.75 * fps;

	        lastFpsUpdate = timestamp;
	        framesThisSecond = 0;
	    }
	    framesThisSecond++;

	    var numUpdateSteps = 0;
	    while (delta >= timestep) {
	        update(timestep);
	        delta -= timestep;
	        if (++numUpdateSteps >= 240) {
	            panic();
	            break;
	        }
	    }

	    draw(delta / timestep);

	    end(fps);

	    frameID = requestAnimationFrame(mainLoop);
	}

	start();
	
</script>