<h1>Testing Animations</h1>






<h3 style="text-align: center;">Animation #1: <b>Hungry Monster</b></h3>
<div class="monster">
	
</div>


</br></br>

<h3 style="text-align: center;">Animation #2: <b>Assasin</b></h3>
<div class="character">
	
</div>

<style>

	body {

	}

	.monster {
	  width: 190px;
	  height: 240px;
	  margin: 2% auto;
	  background: url('https://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/blog/monster.png') left center;
	  animation: play .8s steps(10) infinite;
	}

	@keyframes play {
		100% { background-position: -1900px; }
	}



	<% temp_string = request.original_url %>
	<% temp_string.slice!(request.fullpath) %>

	.character {
		width: 258px;
		height: 220px;
		margin: 2% auto;
		border: solid black;
		background: <%= "url('".html_safe + temp_string + asset_path('johnny/survivor-move_animated.png') + "') left center".html_safe %>;

	  	animation: second_play .8s steps(20) infinite;
	}


	@keyframes second_play {
		100% { background-position: -5160px; }
	}

</style>




