<!DOCTYPE html>
<html>
  <head>

  	<!-- Google Font Import -->
  	 <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">  

    <title>JustIn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
